/*I am somewhat confused on what I am supposed to be comnmenting, it all seems pretty self-explanatory*/
/*Universal selector*/
*, ::before, ::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}
/*Designs for the entire html unless specified otherwise*/
html {
    line-height: 1.15;
    font-size: 16px;
    display: flex;
    align-items: center;
}

#background-image {
    background-color: aliceblue;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px  solid rgb(0, 102, 255);
    overflow: hidden;
    top: 0%;
    width: 100%;
    background-color: aliceblue;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 900;
}

header h2 {
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 70px;
    border-top: 3px rgb(0, 102, 255);
    border-width: 100%;
}

main {
    margin-top: 150px;
    background-color: aliceblue;
}

main h2 {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 20px 25px 10px 25px;
    border-bottom: solid rgb(0, 102, 255);
}
/*Designs for the profile pic*/
#profile-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 2px solid rgb(0, 102, 255);
    border-radius: 100px;
    margin-top: 10px;
    height: 156px;
    width: 180px;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}


#about-me p {
    margin: 2rem;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid rgb(0, 102, 255);
    border-right: 1px solid rgb(0, 102, 255)
}

#work h2 {
    text-align: center;
}

#big-project {
    display: block;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#work ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure img {
    border: solid rgb(0, 102, 255);
    height: 252px;
    width: 275px;
}

/*Designs for the captions of the images*/
figcaption {
    text-align: center;
    max-width: 70%;
    font-size: 19px;
    font-weight: 400;
    padding: 20px;
    border: solid rgb(0, 102, 255);
    border-radius: 100px;
    background-color: rgb(15, 107, 187);
    font-family: 'Courier New', Courier, monospace;
}
/*Designs for the contact me portion of the website*/
#contact-me {
    background-color: aliceblue;
    display: block;
    text-align: center;
}

#contact-me p {
    padding: 0px 0px;
}

.reponsive {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Designs for the footer or the bottom of the website*/
footer {
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
}

footer h2 {
    font-size: 1rem;
}

/*Optimizing the code for desktop screens*/
@media screen and (min-width: 1394px) {
    header {
       display: flex;
       flex-direction: row;
       overflow: auto;
       position: relative;
       top: auto;
       justify-content: space-between;
       align-items: center;
       align-content: center; 
    }

    header * {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    header nav {
        display: flex;
        flex-direction: row;
        padding: 3px 0;
        border: none;
        justify-self: end;
        justify-items: end;
    }
    /*Designs for the page title*/
    #page-title {
        flex-direction: column;
        align-content: center;
        padding-bottom: 10px;
        margin-left: 5%;
    }

    header li {
        border: none;
        font-size: 18px;
        margin: 0;
        padding-left: 15px;
        padding-right: 5px;
        align-items: center;
        display: flex;
        flex-direction: column;
        right: 80px;
    }

    header h2 {
        padding-bottom: 0;
        align-self: center;
    }

    main {
        margin-top: 0;
    }

    main h2 {
        font-size: 27px;
    }

    #about-me p {
        max-width: 50%;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
        border-left-width:3px;
        border-right-width: 3px;
    }

    section div * {
        justify-content: center;
        align-self: center;
        width: 100%;
    }

    section div figure a img {
        min-width: 75%;
        min-height: 400px;
    }
    /*Designs for the main project, making sure it is the biggest out of all of them*/
    #big-project {
        display: block;
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    /*Designs for the images*/
    figure img {
        border: 3px solid rgb(0, 102, 255);
        min-height: 200px;
        max-height: 300px;
        min-width: 400px;
        max-width: 35%;
    }

    figure img:hover {
        color: blue;
    }
    
    /*The design for the caption of the pictures */
    figcaption {
        max-width: 70%;
        position: relative;
        bottom: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 300;
    }

    #big-image {
        max-width: 17%;
        position: relative;

    }

    #background-image {
        height: 400px;
        width: 100%;
        margin-bottom: -5px;
        margin-top: 2px;
        background-size: cover;
        background-position: center;
    }
}

